{# templates/public/template.html.twig #}

{% extends 'base.html.twig' %}

{#HEAD#}
    {% block title %} {{ title }} {% endblock %}
    {% block meta_description %}Le truc qui apparait dans les recherches google{% endblock %}
    {% block stylesheets %}{% endblock %}

{#FIN DE HEAD#}

{#HEADER#}
    {% block header %} <h1>Reservation</h1> {% endblock %}
{#FIN DE HEADER#}

{#MAIN#}
{% block main %}
       
       <div class="container-fluid">
           
           <div class="row">
               <div class="col-sm-3"></div>
               <div class="col-sm-6">
                   <h2>Récapitulation du produit :</h2>
                   <p>
                       Nom : {{ detailSalle.nomSalle }} <br>
                       Adresse : {{ detailSalle.adresseSalle }} <br>
                       Code Postal : {{ detailSalle.cpSalle }} <br>
                       Ville : {{ detailSalle.villeSalle }} <br>
                   </p>
               </div>
           </div>
           
           
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <fieldset>
                       <legend>Reservation</legend>

                            {{ form_start(form) }}
                            {# form_start c'est comme une ouverture de balise form #}

                            {# {{ form_widget(form) }}  le basic de symfony#}

                            {#formulaire bootstrap#}

                            <div class="form-group">

                                {{ form_row(form.jourIndisponible, {attr: {class: "form-control"} }) }}

                            </div>

                            {#Ici il aurait fallu mettre un message, pour que ce soit inscrit dans la table produit, et non la table Indisponible#}

                             <div class="form-group">
                                 {{ form_end(form) }}
                             </div>

                     </fieldset>
                </div>
            </div>{#fin de div class row#}
       </div>{#fin de container fluid#}

    {% endblock %}
{#FIN DE MAIN#}

{#SCRIPT#}
    {% block javascripts %}{% endblock %}
{#FIN DE SCRIPT#}