{# templates/security/tableauDeBord.html.twig #}

{% extends 'base.html.twig' %}

{#HEAD#}
   
{% block title %} {{ title }} {% endblock %}
{% block meta_description %}Le truc qui apparait dans les recherches google{% endblock %}
{% block stylesheets %}{% endblock %}

{#FIN DE HEAD#}

{#HEADER#}
{% block header %}{% endblock %}
{#FIN DE HEADER#}

{#MAIN#}
{% block main %}
   
    {{ render(controller('App\\Controller\\TableauDeBordController::navTableauDeBord')) }}
    
    {#Le tableau de bord pourrait être une page recapitulative de notre profil#}
<div class="container">
    <div class="row">
        {# Photo du membre #}
        <div class="col-sm-6 text-center">
        	<legend>Ma photo de profil</legend>
            <img src="{{asset('img/membre/photo_profil/')}}{{membre.photoMembre}}" class="img-fluid" alt="photo_membre">
        </div>
        {# infos du membre #}
        <div class="col-sm-6 text-center">
            <ul class="list-group">
                <li class="list-group-item">
                    <b>Nom :</b> {{ membre.nomMembre }} </li>
                <li class="list-group-item">
                    <b>Prénom :</b> {{ membre.prenomMembre }} </li>
                <li class="list-group-item">
                    <b>Société :</b> {{ membre.nomDeSocieteMembre }} €</li>
                <li class="list-group-item">
                    <b>SIRET :</b> {{ membre.siretMembre }} </li>
                <li class="list-group-item">
                    <b>TVA intracommunautaire :</b> {{ membre.tvaMembre }} </li>
                <li class="list-group-item">
                    <b>Date de naissance :</b> {{ membre.dateDeNaissance|date('d/m/Y') }} </li>
                <li class="list-group-item">
                    <b>Civilité :</b> {{ membre.sexeMembre }} </li>
                <li class="list-group-item">
                    <b>Adresse :</b> {{ membre.adresseMembre }} </li>
                <li class="list-group-item">
                    <b>Code Postal:</b> {{ membre.cpMembre }} </li>
                <li class="list-group-item">
                    <b>Ville :</b> {{ membre.villeMembre }} </li>
                <li class="list-group-item">
                    <b>Téléphone :</b> {{ membre.telephoneMembre }} </li>
                <li class="list-group-item">
                    <b>Email :</b> {{ membre.emailMembre }} </li>
                <li class="list-group-item">
                    <b>Date d'enregistrement :</b> {{ membre.dateEnregistrementMembre|date('d/m/Y') }} </li>
                <li class="list-group-item">
                    <b>Infos bancaires :</b> {{ membre.infoBancaireMembre }} </li>
                <li class="list-group-item">
                    <b>Statut :</b> {{ membre.idStatutMembre.libelleStatutMembre }} </li>
            </ul>

            <a href="http://localhost/EasyOffice/public/modifierProfil" class="btn btn-success"> Modifier </a>
            
        </div><!-- Fin col-sm-6 -->
    </div><!-- Fin Row -->
</div><!-- Fin Container -->
  
{% endblock %}
{#FIN DE MAIN#}

{#SCRIPT#}
{% block javascripts %}{% endblock %}
{#FIN DE SCRIPT#}