{# templates/public/detailProduits.html.twig #}

{% extends 'base.html.twig' %}


{% block title %} {{ title }} {% endblock %}

{% block body %}
    
    <div class="row">

          <div class="col-sm-4">
          </div>

          <div class="col-sm-3">
              <img class="img-fluid" src="{{asset(detail.photoProduit)}}" alt="photo de mon produit">
          </div>

          <div class="col-sm-5">
              <h1>{{ h1 }}</h1>
              <p> Ref : {{ detail.refProduit }} <br>
               Prix : {{ detail.prixProduit }} <br>
               Taille : {{ detail.tailleProduit }} <br>
               Couleur : {{ detail.couleurProduit }} <br>
               Description : {{ detail.descriptionProduit }} <br>
               Stock : {{ detail.stocksProduit }} <br>
               Sexe : {{ detail.sexeProduit }} <br>
               Catégorie : {{ detail.idCategorie.libelleCategorie }} </p>
               <a class="btn btn-info" href="{{ url('produits') }}">Retour</a>
              
          </div>
          
          
           
          

        
    </div>

{% endblock %}


