{# templates/public/produits.html.twig #}

{% extends 'base.html.twig' %}


{% block title %} {{ title }} {% endblock %}

{% block body %}

    <h1 class="text-center">{{ h1 }}</h1>
    
    <div class="row">

          {% for article in produits %}
          
              <article class="col-sm-3">
                  
                <div class="jumbotron jumbotron-fluid" style="background-image: url({{asset(article.photoProduit)}});background-position:center;background-size:cover;">
                    <div class="container fond-blanc">
                      
                       <div class="">
                            <h3 class="display-4">{{ article.nomProduit }}</h3>
                            <p class="lead">{{ article.prixProduit }} €</p>
                            <a class="btn btn-info" href="{{ url('detailProduit', {'id' : article.id }) }}">Détails</a>
                       </div>
                        
                    </div>
                </div>
                  
                  
              </article>
           
          {% endfor %}

        
    </div>

{% endblock %}


