{# templates/public/concept.html.twig #}
{% extends 'base.html.twig' %}

{#HEAD#}
    {% block title %} {{ title }} {% endblock %}
    {% block meta_description %}Le truc qui apparait dans les recherches google{% endblock %}
    {% block stylesheets %} 
 <!--CSS SEARCHBAR-->
        <link href="{{ asset('css/searchbar.css') }}" rel="stylesheet">
<!--CSS GLOBAL-->
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('css/concept.css') }}" rel="stylesheet">
<!-- JS -->
        <link href="{{ asset('js/concept.js') }}" rel="stylesheet">
{% endblock %}

{#FIN DE HEAD#}

{% block header %}   
<header class="headerConcept">
<br/><br/><br/><br/><br/><br/><br/><br/>
    <h2>Vous souhaite la bienvenue&nbsp;&nbsp;&#x1F642;</h2> 
<br/><br/>   
<h1>Concept</h1>
   <p class="intro-text">
                <br>
    </p> <a href="#global" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>     
</header> 
 
{% endblock %} 

{#MAIN#}
{% block main %}
<main class="mainContainerFluid">                
        <!--Section -->
       
       <div id="global">
        <div class="row">
            <section id="concept" class="content-section text-center">
                  <div class="col-lg-8 mx-auto">
                        <ul>
                        <p>Trouvez , vos location, simplement, rapidemant, et efficacement. Des espaces exeptionnels, pour vos evenement, formation, meeting, entretient, stockage, événement divers, séminaire et conférences, au service de la performance, et de l'epanouissement. Répondre au nouveaux code du travail. 
                        </p>
                      </ul>
                  </div>
                
            </section>
            
        </div>
     </div>   
    </main>

        <!--  -->
        
{% endblock %}
{#FIN DE MAIN#}


{#SCRIPT#}
 {% block javascripts %}
  
   {% endblock %}
{#FIN DE SCRIPT#}

