{# templates/public/template.html.twig #}

{% extends 'base.html.twig' %}

{#HEAD#}
    {% block title %} {{ title }} {% endblock %}
    {% block meta_description %}Le truc qui apparait dans les recherches google{% endblock %}
    {% block stylesheets %}{% endblock %}

{#FIN DE HEAD#}

{#HEADER#}
    {% block h1 %} Votre Salle {% endblock %}
    {% block introduction %} Merci de renseigner les champs suivants afin que les utilisateurs puisse trouver votre salle ! {% endblock %}
    {% block option_introduction %}{% endblock %}
{#FIN DE HEADER#}

{#MAIN#}
{% block main %}
        <!--Formulaire d'inscription-->
        <div class="row">
           <div class="col-sm-3" ></div>
            <div class="col-sm-6">
                {#
                    affichage des messages flash
                    
                    {% for message in app.flashes('message') %}
                        <div class="alert alert-success text-center">
                            {{ message }}
                        </div>
                    {% endfor %}
                #}
            </div>
        </div>
        
        <div class="row">
        
            <div class= "col-sm-6">
                <fieldset>
                   <legend>Location</legend>

                        {{ form_start(form) }}

                        {#formulaire bootstrap#}

                        <div class="form-group">
                            <div class="form-check form-check-inline">  
                                {{ form_row(form.referenceSalle, {attr: {class: "form-check-input"} }) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_row(form.nomSalle, {attr: {class: "form-control"} }) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.adresseSalle, {attr: {class: "form-control"} }) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.cpSalle, {attr: {class: "form-control"} }) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.villeSalle, {attr: {class: "form-control"} }) }}
                        </div>
                        
                        {#ATTENTION ICI CEST UNE CLE ETRANGERE POUR RECUPERER LES NOMS DE CATEGORIES#}
                        <div class="form-group">
                            <div class="form-check form-check-inline">  
                                {{ form_row(form.categorieSalle, {attr: {class: "form-check-input"} }) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_row(form.surfaceSalle, {attr: {class: "form-control"} }) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.descriptionSalle, {attr: {class: "form-control"} }) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.nbrPieceSalle, {attr: {class: "form-control"} }) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.capaciteSalle, {attr: {class: "form-control"} }) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.prixSalle, {attr: {class: "form-control"} }) }}
                        </div>
                        
                        {#ATTENTION ICI CEST UNE CLE ETRANGERE POUR RECUPERER LES NOMS D'EQUIPEMENTS#}
                        <div class="form-group">
                            <div class="form-check form-check-inline">  
                                {{ form_row(form.equipementSalle, {attr: {class: "form-check-input"} }) }}
                            </div>
                        </div>

                        <div class="form-group text-center">

                            <button type="submit" class="btn btn-success">Valider</button>

                        </div>

                        <div class="form-group">
                             {{ form_end(form) }}
                       </div>

                </fieldset>
            </div><!--FIN DE CLASS-->
        </div><!--FIN DE ROW-->

    {% endblock %}
{#FIN DE MAIN#}

{#SCRIPT#}
    {% block javascripts %}{% endblock %}
{#FIN DE SCRIPT#}