{# templates/public/template.html.twig #}

{% extends 'base.html.twig' %}

{#HEAD#}
    {% block title %} {{ title }} {% endblock %}
    {% block meta_description %}Le truc qui apparait dans les recherches google{% endblock %}
    {% block stylesheets %}
    <link href="{{ asset('css/calendrier.css') }}" rel="stylesheet">
    {% endblock %}

{#FIN DE HEAD#}

{#HEADER#}
    {% block header %} <h1>Reservation</h1> {% endblock %}
{#FIN DE HEADER#}

{#MAIN#}
{% block main %}
       
       <div class="container-fluid">
           
           <div class="row">
               <div class="col-sm-3"></div>
               <div id=" {{ id }} " class="col-sm-6">
                   <h2>Récapitulation du produit :</h2>
                   <p>
                       id : {{ id }} <br>
                       Nom : {{ detailSalle.nomSalle }} <br>
                       Adresse : {{ detailSalle.adresseSalle }} <br>
                       Code Postal : {{ detailSalle.cpSalle }} <br>
                       Ville : {{ detailSalle.villeSalle }} <br>
                   </p>
               </div>
           </div>
           
           
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-5">
                    <h2>Choisissez vos jours de réservation</h2>
                    <div> {{ affichage_calendrier|raw }} </div>
                </div>
            </div>{#fin de div class row#}
            <div id="message"></div>
       </div>{#fin de container fluid#}

    {% endblock %}
{#FIN DE MAIN#}

{#SCRIPT#}
    {% block javascripts %}
    <script src="{{ asset('js/calendrier.js') }}">
	</script>
    {% endblock %}
{#FIN DE SCRIPT#}