{# templates/public/template.html.twig #}

{% extends 'base.html.twig' %}

{#HEAD#}
    {% block title %} {{ title }} {% endblock %}
    {% block meta_description %}Le truc qui apparait dans les recherches google{% endblock %}
    {% block stylesheets %}
    <!--CSS SPEC SALLE-->
        <link href="{{ asset('css/salle.css') }}" rel="stylesheet">
    {% endblock %}

{#FIN DE HEAD#}

{#HEADER#}
    {% block header %}
    
        
    <header id="headerSalle">
        <div class="intro-body">
            <div class="container intro">
                <div class="row">
                    <div class="col-sm-12 mx-auto">

                        <h1 class="brand-heading">
                            Nos Salles <br> Easy<span class="vert_logo console">Office</span>
                        </h1>
                        
                        <div class="barre-blanche col-sm-6"></div>
                        
                        <p class="intro-text">
                            Le meilleur des salles pour professionnels    
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    {% endblock %}
{#FIN DE HEADER#}

{#MAIN#}
{% block main %}
    
    <div class="container-fluid">
        
        <div class="row">
            <!--Section Criteres-->
            <aside id="criteres" class="col-lg-2 col-md-4">
                <fieldset>
                    <legend>Vos critères</legend>

                       {{ form_start(form) }}

                        {#formulaire bootstrap#}

                        {# generer la reference de la salle dans le publicController #}
                        <div class="form-group">
                            {{ form_row(form.nom, {attr: {class: "form-control"} }) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.cp, {attr: {class: "form-control"} }) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.ville, {attr: {class: "form-control"} }) }}
                        </div>
                        
                        <div class="form-group">
                            {{ form_row(form.date, {attr: {class: "form-control"} }) }}
                        </div>
                        
                        {#ATTENTION ICI CEST UNE CLE ETRANGERE POUR RECUPERER LES NOMS DE CATEGORIES#}                        
                        <div class="form-group">  
                            {{ form_row(form.idCategorieSalle, {attr: {class: "form-control"} }) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.surface, {attr: {class: "form-control"} }) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.nbrPiece, {attr: {class: "form-control"} }) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.capacite, {attr: {class: "form-control"} }) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.prixMin, {attr: {class: "form-control"} }) }}
                        </div>
                        
                        <div class="form-group">
                            {{ form_row(form.prixMax, {attr: {class: "form-control"} }) }}
                        </div>
                        
                        {#ATTENTION ICI CEST UNE CLE ETRANGERE POUR RECUPERER LES NOMS D'EQUIPEMENTS#}
                        {#<div class="form-group">
                            <div class="form-check form-check-inline">  
                                {{ form_row(form.equipement, {attr: {class: "form-check-input"} }) }}
                            </div>
                        </div>#}
                        
                        {# LE BOUTON SUBMIT EST DANS OffreSallType #}


                        <div class="form-group">
                             {{ form_end(form) }}
                       </div>
                   
                    </fieldset>

            </aside>
            <!--Fin Section Criteres-->
            
            <!--Section Toutes nos salles-->
            <section id="propositionSalles" class="col-lg-10 col-md-8">
                
                        <div class="card-columns">
                        
                        {% for liste_salles in salle %}
                            
                            <article class="card">
                              <img class="card-img-top" src="{{ asset('img/salle/default/')}}{{liste_salles.lien_photo_default}}" alt="photo reunion">
                              <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="{{ url('detailSalle', {'id' : liste_salles.id }) }}">
                                            {{ liste_salles.nom_salle }}
                                        </a>
                                    </h5>
                                    <p class="card-text">{{ liste_salles.description_salle }}</p>
                                  
                                    <small>
                                        <i class="fa fa-tag" aria-hidden="true"></i> Prix : {{ liste_salles.prix_salle }} €/j <br>
                                        <i class="fa fa-user" aria-hidden="true"></i> Capacité : {{ liste_salles.capacite_salle }}<br>
                                        <i class="fa fa-briefcase" aria-hidden="true"></i> Catégorie : {{ liste_salles.libelle_categorie_salle }}
                                    </small>
                                </div>
                            </article>
                        {% endfor %}
                        </div><!--fin de div class card column-->
                    

            </section>
            <!--Fin Section Toutes nos salles-->
        </div>
        
    </div><!--Fin div container-fluid-->



    {% endblock %}
{#FIN DE MAIN#}

{#SCRIPT#}
    {% block javascripts %}{% endblock %}
{#FIN DE SCRIPT#}