{# si dte existe #}
   {% if dte %}

      <p><a href="{{ url('mentionsLegales')}}">Mentions légales</a> | <small>Nous sommes le {{ dte }}</small> | Copyright &copy; Moi</p>

   {% endif %}

{# si je voulais faire ma propre page de mentions légales
<p> <a href="{{ url('mentionsLegales')}}">Mentions légales</a> | <small>Nous sommes le {{ dte }}</small> | Copyright &copy; Moi</p>
<p> <a href="https://fr.orson.io/1371/generateur-mentions-legales">Mentions légales</a> | <small>Nous sommes le {{ dte }}</small> | Copyright &copy; Moi</p>
#}